.jumbo {
    background-color: #a2b1d1 !important;
}

h1 {
    color: #61dafb;
}

p {
    color: #ffffff;
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}

.search {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}